.Characters {
	padding: 40px 0;

	&-container {
		margin: 0 auto;
		width: 1200px;
	}

	&-title {
		color: $white;
		filter: drop-shadow(3px 2px 13px $white);
		font-family: $font-primary;
		font-size: 32px;
		font-weight: 500;
		letter-spacing: 0.2em;
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;
	}

	&-list {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 30px;
		flex-wrap: wrap;
		width: 100%;
	}

	&-search {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-bottom: 30px;
	}

	&-label {
		color: $white;
		font-family: $font-secondary;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 1px;
	}

	&-input {
		border: none;
		border-radius: 8px;
		display: block;
		font-family: $font-secondary;
		font-size: 15px;
		font-weight: 500;
		margin: 0 auto;
		outline: none;
		padding: 15px;
		text-align: center;
		width: 520px;
	}
}
