.Comics {
	padding: 40px 0;

	@media (max-width: $xl) {
		padding-top: 20px;
	}

	&-container {
		margin: 0 auto;
		max-width: 1400px;
		width: 100%;
	}

	.infinite-scroll-component {
		overflow: hidden !important;
	}

	&-title {
		color: $white;
		filter: drop-shadow(3px 2px 13px $white);
		font-family: $font-primary;
		font-size: 32px;
		font-weight: 500;
		letter-spacing: 0.2em;
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;

		@media (max-width: $md) {
			margin-bottom: 20px;
		}

		@media (max-width: $sm) {
			font-size: 26px;
		}
	}

	&-list {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 30px;
		flex-wrap: wrap;
		width: 100%;
	}

	&-search {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
		}

		@media (max-width: $sm) {
			margin-bottom: 20px;
		}
	}

	&-label {
		color: $white;
		font-family: $font-secondary;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 1px;
	}

	&-input {
		border: none;
		border-radius: 8px;
		font-family: $font-secondary;
		font-size: 14px;
		font-weight: 400;
		outline: none;
		padding: 10px;
		text-align: center;
		width: 590px;

		@media (max-width: $md) {
			margin-bottom: 10px;
		}

		@media (max-width: $sm) {
			width: 365px;
			margin-bottom: 10px;
		}
	}

	.NotFound {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.icon {
		color: $white;
		font-size: 20px;
	}

	.text {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 20px;
		padding: 0 10px;
		margin-top: 0;
		text-align: center;
	}

	&-filters {
		display: flex;
		align-items: center;
		gap: 10px;

		@media (max-width: $md) {
			gap: 20px;
		}

		@media (max-width: $sm) {
			gap: 10px;
		}
	}
}
