.Favorites {
	padding: 40px 0;

	&-container {
		margin: 0 auto;
		max-width: 1350px;
		width: 100%;
	}

	&-title {
		color: $white;
		filter: drop-shadow(3px 2px 13px $white);
		font-family: $font-primary;
		font-size: 32px;
		font-weight: 500;
		letter-spacing: 0.2em;
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;

		@media (max-width: $md) {
			margin-bottom: 20px;
		}

		@media (max-width: $sm) {
			font-size: 26px;
		}
	}

	&-filters {
		display: flex;
		align-items: center;
		gap: 40px;
		justify-content: center;
		margin-bottom: 50px;
	}

	&-cards {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 45px;
		justify-content: flex-start;
		margin: 0 auto;

		@include media-breakpoint-down(xl) {
			justify-content: center;
		}
	}

	&-notFound {
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: center;
		width: 100%;
	}

	&-text {
		color: $white;
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 0;
	}

	.icon {
		color: $white;
		font-size: 22px;
	}
}
