.Character {
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
	max-width: 1600px;
	width: 100%;

	&-head {
		display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 35px;
		padding-left: 20px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			padding: 0 20px;
		}

		@include media-breakpoint-down(sm) {
			gap: 15px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			padding: 0 10px;
			max-width: 400px;
		}
	}

	&-name {
		background-color: #e1e1e1;
		border-radius: 4px;
		display: inline-block;
		color: $black;
		font-family: $font-secondary;
		font-size: 28px;
		font-weight: 600;
		margin: 0 auto;
		padding: 5px 10px;
		text-align: center;

		@include media-breakpoint-down(md) {
			font-size: 20px;
		}

		@include media-breakpoint-down(sm) {
			font-size: 16px;
			padding: 5px 10px;
		}
	}

	&-content {
		display: flex;
		align-items: stretch;
		justify-content: center;
		min-height: 450px;
		flex: 1;

		@include media-breakpoint-down(xl) {
			flex-wrap: wrap;
		}
	}

	&-image {
		border: 1px solid $white;
		position: relative;
		// width: 420px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			height: 500px;
			width: 470px;
		}

		@include media-breakpoint-down(lg) {
			height: 450px;
			width: 370px;
		}

		@include media-breakpoint-down(md) {
			height: 350px;
			width: 330px;
		}

		@include media-breakpoint-down(sm) {
			width: 370px;
			height: 350px;
		}
	}

	&-description {
		border: 1px solid $white;
		padding-bottom: 10px;
		width: 70%;

		@include media-breakpoint-down(xl) {
			width: 440px;
		}

		@include media-breakpoint-down(lg) {
			width: 340px;
		}

		@include media-breakpoint-down(md) {
			width: 300px;
		}

		@include media-breakpoint-down(sm) {
			width: 370px;
		}
	}

	&-comics {
		border: 1px solid $white;
		padding-bottom: 10px;
		width: 450px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			width: 470px;
		}

		@include media-breakpoint-down(lg) {
			width: 370px;
		}
		@include media-breakpoint-down(md) {
			width: 330px;
		}
		@include media-breakpoint-down(sm) {
			width: 370px;
		}
	}

	&-series {
		border: 1px solid $white;
		padding-bottom: 10px;
		width: 320px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			width: 440px;
		}

		@include media-breakpoint-down(lg) {
			width: 340px;
		}

		@include media-breakpoint-down(md) {
			width: 300px;
		}

		@include media-breakpoint-down(sm) {
			width: 370px;
		}
	}

	&-title {
		background-color: $black;
		color: $white;
		font-family: $font-primary;
		font-size: 21px;
		letter-spacing: 2px;
		margin-bottom: 20px;
		padding: 8px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&-text {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		padding: 0 10px;
		text-align: left;
		margin-bottom: 0;
	}

	&.notAvaible {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		padding: 0 10px;
		margin-top: 0;
		text-align: center;
		width: 100%;
	}

	.containerComics {
		border-bottom: 1px solid $white;

		&:last-of-type {
			border: none;
		}

		&:hover {
			cursor: pointer;
			background-color: #f7f7f72c;
		}
	}

	.comic {
		margin: 0;
	}
}
