.Character {
	// border: 1px solid white;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	width: 1600px;

	&-name {
		// background-color: $white;
		color: $white;
		font-family: $font-primary;
		font-size: 34px;
		font-weight: 500;
		margin-bottom: 20px;
		text-align: center;
	}

	&-content {
		display: flex;
		align-items: stretch;
		justify-content: center;
		// flex-direction: column;
		min-height: 450px;
		flex: 1;
	}

	&-image {
		border: 1px solid $white;
		position: relative;
		// width: 450px;

		width: 100%;
	}

	&-description {
		border: 1px solid $white;
		padding-bottom: 10px;
		// width: 260px;
		width: 60%;
	}

	&-comics {
		border: 1px solid $white;
		padding-bottom: 10px;
		// width: 450px;
		width: 100%;
	}

	&-title {
		background-color: $black;
		color: $white;
		font-family: $font-primary;
		font-size: 21px;
		letter-spacing: 2px;
		margin-bottom: 20px;
		padding: 8px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&-text {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		padding: 0 10px;
		// text-align: center;
		// width: 100%;
	}

	.notAvaible {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		padding: 0 10px;
		margin-top: 0;
		text-align: center;
		width: 100%;
	}
}
