.Characters {
	background: linear-gradient(90deg, map-get($blue, regular) 0%, map-get($blue, dark) 0%, map-get($blue, light) 99%);
	height: auto;
	padding: 40px 0;

	&-container {
		margin: 0 auto;
		width: 1480px;
	}

	&-title {
		color: $white;
		filter: drop-shadow(3px 2px 5px $white);
		font-family: $font-primary;
		font-size: 32px;
		font-weight: 500;
		letter-spacing: 0.2em;
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;
	}

	&-list {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

	&-card {
		background-color: #e5e5e5;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 80px;
		height: 390px;
		padding: 20px 10px;
		position: relative;
		margin-bottom: 40px;
		width: 350px;
	}

	&-image {
		box-shadow: 5px 5px 20px map-get($black-color, secondary);
		// filter: drop-shadow(8px 4px 10px map-get($black-color, secondary));
		margin-bottom: 20px;
	}

	&-name {
		color: map-get($black-color, primary);
		font-family: $font-primary;
		font-size: 22px;
		font-weight: 700;
		text-align: center;
	}

	&-redirect {
		background-color: map-get($blue, dark);
		border-radius: 5px;
		bottom: 10px;
		color: $white;
		font-family: $font-secondary;
		letter-spacing: 0.1em;
		padding: 5px 10px;
		position: absolute;
		right: 10px;
		text-decoration: none;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: rgb(127, 209, 127);
			box-shadow: $shadow;
		}
	}
}
