.Comic {
	// border: 1px solid white;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
	width: 1650px;

	&-name {
		background-color: $gray;
		border-radius: 4px;
		display: inline-block;
		color: $black;
		font-family: $font-secondary;
		font-size: 28px;
		font-weight: 600;
		margin: 0 auto;
		padding: 10px 15px;
		text-align: center;
	}

	&-head {
		display: flex;
		margin-bottom: 35px;
		align-items: center;
	}

	&-title {
		color: $black;
		font-style: italic;
		font-weight: 500;
	}

	&-info {
		padding: 0 10px;
	}

	&-content {
		display: flex;
		align-items: stretch;
		justify-content: center;
		// flex-direction: column;
		min-height: 450px;
		flex: 1;
	}

	&-image {
		border: 1px solid $white;
		position: relative;
		// width: 450px;
		width: 100%;
	}

	&-description {
		border: 1px solid $white;
		padding-bottom: 10px;
		// width: 260px;
		width: 100%;
	}

	&-characters {
		border: 1px solid $white;
		padding-bottom: 10px;
		// width: 450px;
		width: 100%;
	}

	&-stories {
		border: 1px solid $white;
		padding-bottom: 10px;
		width: 100%;
	}

	&-boxTitle {
		background-color: $black;
		color: $yellow;
		font-family: $font-primary;
		font-size: 21px;
		letter-spacing: 2px;
		margin-bottom: 20px;
		padding: 8px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&-text {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		font-style: normal;
		padding: 0 10px;
		margin-bottom: 10px;
		text-align: left;
	}

	.notAvaible {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		padding: 0 10px;
		margin-top: 0;
		// text-align: center;
		width: 100%;
	}

	&-list {
		padding-left: 40px;
	}

	.resume {
		font-style: italic;
	}

	.creators {
		padding: 0;
	}

	.containerCharacters {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px solid $white;

		&:last-of-type {
			border: none;
		}

		&:hover {
			cursor: pointer;
			background-color: #f7f7f72c;
		}
	}

	.character {
		margin: 0;
	}
}
