.Nav {
	background-color: $black;
	padding: 12px 0px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;

	@include media-breakpoint-down(xl) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@include media-breakpoint-down(sm) {
		padding-left: 5px;
		padding-right: 5px;
	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		max-width: 1400px;
		position: relative;
		width: 100%;

		&.right {
			width: 825px;
		}

		&.center {
			width: 825px;

			@include media-breakpoint-down(xl) {
				width: 420px;
			}
		}
	}

	&-list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 60px;
		margin-bottom: 0;
		padding: 0;
		width: 100%;

		@include media-breakpoint-down(xl) {
			justify-content: flex-start;
			gap: 20px;
		}

		@include media-breakpoint-down(sm) {
			justify-content: flex-start;
			gap: 10px;
			padding: 0 10px;
		}
	}

	&-link {
		color: $white;
		font-family: $font-secondary;
		font-size: 22px;
		font-weight: 500;
		list-style: none;
		text-align: center;

		&:hover {
			cursor: pointer;
			color: $red;
		}

		@include media-breakpoint-down(lg) {
			font-size: 18px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 13px;
		}
	}

	&-favorites {
		color: $white;
		font-family: $font-secondary;
		font-size: 22px;
		font-weight: 500;
		position: absolute;
		right: 140px;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			color: $red;
		}

		@include media-breakpoint-down(xl) {
			right: 120px;
		}

		@include media-breakpoint-down(lg) {
			font-size: 18px;
		}

		@include media-breakpoint-down(sm) {
			font-size: 13px;
			right: 90px;
		}
	}

	&-login {
		background-color: transparent;
		border: 1px solid $white;
		border-radius: 5px;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.12em;
		padding: 4px 15px;
		position: absolute;
		right: 0;
		text-align: center;
		text-decoration: none;
		transition: all 0.2s ease-in;

		&:hover {
			border: 1px solid $red;
			color: $white;
			cursor: pointer;
		}

		@include media-breakpoint-down(xl) {
			padding: 4px 10px;
			right: 10px;
		}

		@include media-breakpoint-down(sm) {
			font-size: 12px;
			padding: 4px 8px;
			right: 8px;
		}
	}
}
