.Story {
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
	max-width: 1650px;
	width: 100%;

	&-name {
		background-color: $gray;
		border-radius: 4px;
		display: inline-block;
		color: $black;
		font-family: $font-secondary;
		font-size: 28px;
		font-weight: 600;
		margin: 0 auto;
		padding: 10px 15px;
		text-align: center;

		@include media-breakpoint-down(xl) {
			font-size: 22px;
			padding: 5px 10px;
		}

		@include media-breakpoint-down(md) {
			font-size: 19px;
			padding: 0;
		}

		@include media-breakpoint-down(sm) {
			font-size: 16px;
			margin-left: auto;
			margin-right: auto;
			padding: 0 5px;
			max-width: 400px;
		}
	}

	&-head {
		display: flex;
		margin-bottom: 35px;
		align-items: center;
		gap: 40px;

		@include media-breakpoint-down(xl) {
			padding: 0 20px;
		}

		@include media-breakpoint-down(lg) {
			gap: 15px;
		}

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 20px;
			padding: 0 10px;
		}
	}

	&-title {
		color: $black;
		font-style: italic;
		font-weight: 500;
	}

	&-info {
		padding: 0 10px;
	}

	&-content {
		display: flex;
		align-items: stretch;
		justify-content: center;
		min-height: 450px;
		flex: 1;

		@include media-breakpoint-down(xl) {
			flex-wrap: wrap;
		}
	}

	&-image {
		border: 1px solid $white;
		position: relative;
		width: 100%;

		@include media-breakpoint-down(xl) {
			height: 500px;
			width: 470px;
		}

		@include media-breakpoint-down(lg) {
			width: 380px;
		}

		@include media-breakpoint-down(md) {
			height: 450px;
			width: 300px;
		}

		@include media-breakpoint-down(sm) {
			height: 390px;
			width: 370px;
		}
	}

	&-description {
		border: 1px solid $white;
		padding-bottom: 10px;
		// width: 260px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			width: 470px;
		}

		@include media-breakpoint-down(lg) {
			width: 380px;
		}

		@include media-breakpoint-down(md) {
			width: 300px;
		}

		@include media-breakpoint-down(sm) {
			width: 370px;
		}
	}

	&-characters {
		border: 1px solid $white;
		padding-bottom: 10px;
		// width: 450px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			width: 470px;
		}

		@include media-breakpoint-down(lg) {
			width: 380px;
		}
		@include media-breakpoint-down(md) {
			width: 300px;
		}

		@include media-breakpoint-down(sm) {
			width: 370px;
		}
	}

	&-stories {
		border: 1px solid $white;
		padding-bottom: 10px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			width: 470px;
		}

		@include media-breakpoint-down(lg) {
			width: 380px;
		}

		@include media-breakpoint-down(md) {
			width: 300px;
		}

		@include media-breakpoint-down(sm) {
			width: 370px;
		}
	}

	&-boxTitle {
		background-color: $black;
		color: $white;
		font-family: $font-primary;
		font-size: 21px;
		letter-spacing: 2px;
		margin-bottom: 20px;
		padding: 8px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&-text {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		font-weight: 500;
		padding: 0 10px;
		margin-bottom: 10px;
		text-align: left;

		@include media-breakpoint-down(xl) {
			font-size: 13px;
		}
	}

	.notAvaible {
		border: none;
		color: $white;
		font-family: $font-secondary;
		font-size: 16px;
		padding: 0 10px;
		margin-top: 0;
		// text-align: center;
		width: 100%;
	}

	&-list {
		padding-left: 40px;
	}

	.resume {
		font-style: italic;
	}

	.creators {
		padding: 0;
	}

	.containerCharacters {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px solid $white;

		&:last-of-type {
			border: none;
		}

		&:hover {
			cursor: pointer;
			background-color: #f7f7f72c;
		}
	}

	.containerComics {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px solid $white;

		&:last-of-type {
			border: none;
		}

		&:hover {
			cursor: pointer;
			background-color: #f7f7f72c;
		}
	}

	.character {
		margin: 0;
	}

	.comic {
		margin: 0;
	}
}
