// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Colors
$blue: (
	dark: rgba(19, 22, 65, 1),
	regular: rgba(9, 9, 121, 1),
	light: rgba(44, 47, 85, 1),
);
$white: #ffffff;
$black-color: (
	primary: #2b2540,
	secondary: #212529,
);

$shadow: 8px 10px 24px rgb(0 0 0 / 10%);
