// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Colors
$black: rgb(34, 33, 33);
$white: #ffffff;
$white-opacity: #ffffff79;
$yellow: #e7dd4c;
$green: #008000;
$red: #fa172b;
$redDark: #e04451;
$gray: #e5e5e5;
$blue: (
	dark: rgba(19, 22, 65, 1),
	regular: rgba(9, 9, 121, 1),
	light: rgba(44, 47, 85, 1),
);

$shadow: 8px 10px 24px rgb(0 0 0 / 10%);
